{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>ProxiLearn</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn-logout" type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <h1>ProxiLearn</h1>
        <p class="intro">Bienvenue sur la plateforme ProxiLearn !</p>
        <p class="intro">Essaie de t'améliorer en rélaisant les exercices qui te sont proposés</p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id='block_central'>
            {% block content %}{% endblock %}
            <br/>
        </div>
        <!-- Ajoutez ce script pour forcer le défilement vers le haut -->
        <script>
            window.onload = function() {
                window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: "smooth",
                  });
            }
        </script>
    </body>
</html>