<html>
    <head>
        <title>ProxiLearn</title>
    </head>
    <body>
        <h1>ProxiLearn</h1>
        <p>Welcome to ProxiLearn, the online learning platform for professionals.</p>
        <p>ProxiLearn is a platform that allows professionals to learn new skills and knowledge in a flexible and convenient way. Our courses are designed to help you develop your skills and knowledge in a wide range of areas, from business and management to technology and design.</p>
        <p>Whether you are looking to advance your career, learn new skills, or simply explore new topics, ProxiLearn has something for you. Our courses are taught by industry experts and are designed to be engaging, interactive, and practical.</p>
        <p>So why wait? Sign up for a course today and start learning with ProxiLearn!</p>
        <!-- On affiche la liste des exercices passés par la vue dans la variable 'exercices'-->
        <h2>Exercices</h2>
        <ul>
            {% for exercice in exercices %}
                <li>{{ exercice }}</li>
            {% endfor %}
        </ul>
        <h2>Formulaire pour ajouter un exercice</h2>
        <form action="/" method="post">
            {% csrf_token %}
            <!-- On utilise le ExerciceForm passé par la vue dans la variable 'formulaire'-->
            {{ formulaire.as_p }}
            <button type="submit">Ajouter</button>
        </form>
    </body>
</html>